{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<section class="dashboard">

    <h1>Welcome, {{ session['name'] }} 👋</h1>

    <div class="dashboard-cards">

        <div class="dash-card">
            <h2>Resume Status</h2>

            {% if resume_uploaded %}
                <p style="color:green;">✅ Uploaded</p>
            {% else %}
                <p style="color:red;">❌ Not Uploaded</p>
            {% endif %}
        </div>

        <div class="dash-card">
            <h2>Interviews</h2>
            <p>{{ interviews }}</p>
        </div>

        <div class="dash-card">
            <h2>Average Score</h2>
            <p>{{ score }}%</p>
        </div>

    </div>

  <div class="dashboard-buttons">

    <a href="/resume">📄 Upload Resume</a>

    {% if resume_uploaded %}
        <a href="/view-resume">👁 View Resume</a>
    {% endif %}

    <a href="/interview">🎤 Start Interview</a>
    <a href="/logout">🚪 Logout</a>

</div>

</section>

{% endblock %}