{% extends "base.html" %}

{% block title %}
Login - SkillzoAI
{% endblock %}

{% block content %}

<section class="auth-section">

    <div class="auth-box">

        <h2>Welcome Back</h2>

        <p>Login to continue your interview journey.</p>

        <form action="/login" method="POST">

            <input type="email"
                   name="email"
                   placeholder="Enter Email"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Enter Password"
                   required>

            <button type="submit">
                Login
            </button>

        </form>

        <p>
            Don't have an account?
            <a href="/signup">Sign Up</a>
        </p>

    </div>

</section>

{% endblock %}